[submodule "background"]
	path = submodule/background
	url = https://github.com/hwansul/background
[submodule "fruit"]
	path = submodule/fruit
	url = https://github.com/mindulle/fruit
[submodule "Product"]
	path = submodule/Product
	url = https://github.com/mindulle/Product
